[submodule "osal"]
	path = osal
	url = https://github.com/projetoChi2p/fs-nasa-cfs-osal.git
[submodule "third-party/xilinx-xilmfs-v2.3+"]
	path = third-party/xilinx-xilmfs-v2.3+
	url = https://github.com/projetoChi2p/fs-xilinx-mfs.git
