[submodule "osal"]
	path = osal
	url = git@github.com:projetoChi2p/fs-nasa-cfs-osal.git
[submodule "third-party/xilinx-xilmfs-v2.3+"]
	path = third-party/xilinx-xilmfs-v2.3+
	url = git@github.com:projetoChi2p/fs-xilinx-mfs.git
[submodule "third-party/fatfs"]
	path = third-party/fatfs
	url = git@github.com:projetoChi2p/fs-chan-fatfs.git
